.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  box-sizing: border-box;
  max-width: 1100px;
  margin: 0 auto;
  padding: 92px 50px 96px 50px;
  font-size: 18px;
  text-decoration-skip-ink: none;
}

.header__links-list {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
}

.header__link_underlined {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
  object-fit: contain;
}

.header__address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  font-style: inherit;
  line-height: 24.3px;
  text-underline-position: under;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgb(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  color: #fff;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  margin-left: 30px;
  line-height: 1.55;
  text-align: center;
}

.aligned-text_right {
  margin-left: 614px;
  text-align: end;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  color: #fff;
}

.cover__description-text {
padding-right: 30px;
font-size: 22px;
text-transform: uppercase;
word-spacing: 18px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  padding: 180px 50px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 15px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 334px);
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  height: 596px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  z-index: 1;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  z-index: 1;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  margin-left: 15px;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

