.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  font-size: 18px;
  padding: 92px 50px 96px 50px;
  text-decoration-skip-ink: none;
}

.header__links-list {
  display: flex;
  align-items: flex-start;
  list-style: circle;
  gap: 32.89px;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  text-decoration: none;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
  object-fit: contain;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  text-underline-position: under;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-style: inherit;
  line-height: 24.3px;
}